<?xml version="1.0" encoding="UTF-8"?>
<!-- More Info https://logging.apache.org/log4j/2.x/manual/layouts.html -->
<Configuration>
    <Appenders>
        <Console name="Console"
                 target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"> <!--Thanks to the v2.10 some default value change or be broke, so add disableansi to get back the colours in the console&ndash;&gt;-->
                <ScriptPatternSelector defaultPattern="[%-5level] Class: %c{1} - Method: %M - Line: %L - %msg%n%throwable">
                    <Script name="BeanShellSelector"  language="javascript">
                        <!--El Script solo devuelve el log level para aplicar el pattern que le corresponde por la key-->
                        <![CDATA[
                            logEvent.getLevel();
                        ]]>
                    </Script>
                    <PatternMatch key="DEBUG"
                                  pattern="%style{%d{yyyy-MM-dd HH:mm:ss}}{black} [%highlight{%style{%-5level}{bright}}] %style{Clase: %c{1}}{yellow} | %style{Metodo: %M}{blue} = %style{%msg}{cyan}%n%throwable"/>
                    <PatternMatch key="INFO"
                                  pattern="%style{%d{yyyy-MM-dd HH:mm:ss}}{black} [%highlight{%-5level}{bright}] %style{Clase: %c{1}}{yellow} | %style{Metodo: %M}{blue} = %style{%msg}{green}%n%throwable"/>
                    <PatternMatch key="WARN"
                                  pattern="%%style{[!]}{bright,yellow} %style{%d{yyyy-MM-dd HH:mm:ss}}{black} [%-5level] %style{Class: %C{1}}{yellow} | %style{Method: %M}{yellow} = %style{%msg}{bright,yellow}%style{[!]}{bright,yellow}%n%throwable"/>
                    <PatternMatch key="ERROR"
                                  pattern="%%style{[!!]}{bright,magenta} %style{%d{yyyy-MM-dd HH:mm:ss}}{black} [%-5level] %style{Class: %c{1}}{magenta} | %style{Method: %M}{magenta} | %style{Line: %L}{magenta} = %style{%msg}{bright,magenta}%style{[!!]}{bright,magenta}%n%style{%throwable}{bright,magenta}"/>
                    <PatternMatch key="FATAL"
                                  pattern="%style{[!!!]}{Bright,red} %style{%d{yyyy-MM-dd HH:mm:ss}}{black} [%-5level] %style{Class: %c{1}}{Bright,red} | %style{Method: %M}{Bright,red} | %style{Line: %L}{Bright,red} = %style{%msg}{Bright,red}%style{[!!!]}{Bright,red}%n%style{%throwable}{Bright,red}"/>
                </ScriptPatternSelector>
            </PatternLayout>
        </Console>

        <RollingFile name="RollingFile"
                     fileName="./logs/spring-boot-logger-log4j2.log"
                     filePattern="./logs/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy
                        size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </root>
    </Loggers>

</Configuration>